@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px dashed gainsboro;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
}

.header__img {
  width: 236px;
  height: 26px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 383px;
  height: 15px;
  align-items: center;
}

.header__item {
  display: flex;
  align-items: center;
  display: inline-block;
  border-radius: 50px;
  padding: 0 10px;
  transition: 2s all;
}

.header__link {
  width: 100%;
  height: 100%;
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  display: inline-block;
  color: #83888F;
}

.header__item:hover {
  display: inline-block;
  transform: scale(1.2);
  box-shadow: 10px 10px 70px rgb(169, 168, 168);
}

.header__link:hover {
  color: #333D4B;
}

.head__container {
  margin-top: 100px;
  width: 1200px;
  height: 600px;
  padding: 50px;
  border: 1px solid wheat;
  background-color: #FEFCF7;
}

.head__box {
  width: 1100px;
  height: 100%;
  background-image: url(../imeges/Bitmap.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 85px;
  padding-top: 70px;
}

.head__box__two {
  width: 493px;
  height: 367px;
}

.head__title {
  width: 493px;
  height: 145px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.head__text {
  width: 445px;
  height: 78px;
  opacity: 0.8;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-bottom: 56px;
}

.head__btn {
  width: 217px;
  height: 56px;
  padding-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #0E8784;
}

.head__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: Barlow 9pt;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
}

.head__link:hover {
  color: #000;
  transition: 1000ms ease-in-out;
}

.head__btn:hover {
  background-color: #66D2CF;
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}

.section__collect {
  width: 100%;
  height: 725px;
  background-color: #FEFCF7;
}

.collect {
  width: 1000px;
  height: 525px;
  margin: 0px 100px;
  transform: translate(0, 100px);
  position: relative;
}

.collect__img {
  width: 100%;
  height: 196;
}

.collect__list {
  position: absolute;
  top: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  transition: 1s all;
}

.collect__item {
  width: 225px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.collect__item:hover {
  border-radius: 20px;
  background-color: #FEFCF7;
  border: 2px solid gainsboro;
  box-shadow: 10px 10px 50px 10px gainsboro;
  transition: all 1s;
}

.collect__img__two {
  width: 100%;
  height: 163px;
  margin-bottom: 73px;
  border-radius: 30px;
  box-shadow: 10px 10px 50px 10px gainsboro;
}

.collect__title {
  width: 100%;
  height: 32px;
  text-align: center;
  margin-bottom: 24px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.collect__text {
  width: 100%;
  height: 78px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.section__choose {
  width: 100%;
  height: 928px;
  background-color: #FEFCF7;
  padding-top: 70px;
  padding-left: 50px;
}

.choose {
  width: 1100px;
  height: 577px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(135deg, #2C343E, #93561d);
}

.choose__box {
  width: 540px;
  height: 160px;
  border: 1px solid white;
  border-radius: 20px;
}

.choose__box:hover {
  box-shadow: 5px 5px 40px 10px white;
  text-shadow: 5px 5px 40px white;
  transition: 0.7s all;
}

.choose__title {
  font-family: barlow;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.choose__list {
  width: 1000px;
  height: 382px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 400px;
}

.choose__item {
  width: 310px;
  height: 382px;
  border-radius: 30px;
  background-color: #0E8784;
  text-align: center;
  padding-top: 72px;
}

.choose__item:hover {
  border: 2px solid white;
  box-shadow: 10px 10px 50px 10px white;
  text-shadow: 5px 5px 40px #FFFFFF;
  transform: scale(1.1);
  transition: 0.7s all;
}

.choose__item__icon {
  width: 65px;
  height: 65px;
  margin-bottom: 56px;
}

.choose__item__title {
  font-family: Barlow;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.choose__item__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.section__work {
  width: 100%;
  height: 685px;
  padding-left: 85px;
  background-color: #FEFCF7;
}

.work {
  width: 1045px;
  height: 565px;
}

.work__title__h4 {
  width: 255px;
  height: 32px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

.work__list {
  display: flex;
  justify-content: space-between;
  width: 1045px;
  height: 442px;
  position: relative;
}

.work__hr {
  width: 760px;
  height: 1px;
  border: none;
  border: 2px solid #FDD6BA;
  position: absolute;
  top: 15px;
  left: 15.5px;
  z-index: 1;
}

.work__item {
  width: 285px;
  height: 100%;
  position: relative;
}

.work__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 31px;
  height: 31px;
}

.work__box {
  margin-top: 67px;
}

.work__nomber {
  width: 101px;
  height: 72px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.work__title__h3 {
  width: 205px;
  height: 72px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 43px;
}

.work__text {
  width: 285px;
  height: 130px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.work__btn {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: #0E8784;
  border: none;
  margin-top: 64px;
}

.work__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 15px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

.work__link:hover {
  color: #000;
  transition: 1000ms ease-in-out;
}

.work__btn:hover {
  background-color: #66D2CF;
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}

.plan section {
  background: linear-gradient(135deg, #2C343E, #93561d);
  width: 1100px;
  height: 577px;
}

.footer__container {
  width: 100%;
  height: 355px;
  background-color: #FEFCF7;
  padding-top: 120px;
  padding-left: 50px;
}

.footer__box {
  width: 1110px;
  height: 120px;
  background-color: #2C343E;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__img {
  width: 236px;
  height: 26px;
}

.footer__list {
  width: 283px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  color: #83888F;
}

.footer__link:hover {
  color: #FEFCF7;
  transition: 1s ease-out;
}

.footer__icons {
  width: 120px;
  height: 24px;
  border: 1px solid #FEFCF7;
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  color: #FEFCF7;
  font-size: 24px;
}

.footer__icon:hover {
  color: #FDD6BA;
  transition: 0.5s ease-out;
  font-size: 24px;
}

.about__head__container {
  margin-top: 100px;
  width: 100%;
  height: 600px;
  padding: 50px;
  border: 1px solid wheat;
  background-color: #FEFCF7;
}

.about__head__box {
  width: 1100px;
  height: 450px;
  background-image: url(../imeges/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 85px;
  padding-top: 137px;
}

.about__head__box__two {
  width: 445px;
  height: 176px;
  color: #FEFCF7;
}

.about__head__title {
  width: 188px;
  height: 48px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.about__head__text {
  width: 445px;
  height: 104px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.commit__container {
  width: 100%;
  height: 720px;
  padding: 100px;
  background-color: #FEFCF7;
}

.commit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 520px;
}

.commit__img {
  width: 405px;
  height: 480px;
}

.commit__box {
  width: 500px;
  height: 340px;
  color: #333D4B;
}

.commit__title {
  width: 357px;
  height: 48px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.commit__text {
  width: 500px;
  height: 260px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.quality__container {
  width: 100%;
  height: 662px;
  padding: 130px 50px;
  background-color: #FEFCF7;
}

.quality {
  width: 100%;
  height: 474px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2C343E;
  position: relative;
  background: linear-gradient(135deg, #2C343E, #93561d);
}

.quality:hover {
  box-shadow: 1px 1px 5px rgb(243, 169, 65);
  transition: all 0.5s;
}

.quality__box {
  width: 500px;
  height: 270px;
  color: #FEFCF7;
  position: absolute;
  left: 50px;
}

.quality__title {
  width: 517px;
  height: 48px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

.quality__text {
  width: 100%;
  height: 130px;
  opacity: 0.8;
}

.quality__img {
  width: 405px;
  height: 454px;
  position: absolute;
  border-radius: 25px;
  right: 50px;
  top: -100px;
}

.our__container {
  width: 100%;
  height: 566px;
  padding: 80px 77px;
  background-color: #FEFCF7;
}

.our {
  width: 1045px;
  height: 366px;
}

.our__title {
  width: 255px;
  height: 32px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.our__list {
  display: flex;
  width: 100%;
  height: 262px;
  justify-content: space-between;
  transition: all 0.7s;
}

.our__item {
  width: 285px;
  height: 261px;
}

.our__item:hover {
  border: 5px outset gainsboro;
}

.our__img {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

.our__title {
  width: 272px;
  height: 36px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 18px;
}

.our__text {
  width: 285px;
  height: 107px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}/*# sourceMappingURL=main.css.map */