.about__head__container{
    // padding-top: 100px;
    margin-top: 100px;
    width: 100%;
    height: 600px;   
    padding: 50px;
    border: 1px solid wheat;
    background-color: #FEFCF7;
}
.about__head__box{
    width: 1100px;
    height: 450px;
    background-image: url(../imeges/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 85px;
    padding-top: 137px;
}
.about__head__box__two{
    width:  445px;
    height: 176px;
    color: #FEFCF7;
}
.about__head__title{
    width: 188px;
    height: 48px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
}
.about__head__text{
    width:  445px;
    height: 104px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
