.commit__container{
    width: 100%;
    height: 720px;
    padding: 100px ;
    // border: 1px solid red;
    background-color: #FEFCF7;
}
.commit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 520px;
    // border: 1px solid red;
}
.commit__img{
    width:  405px;
    height: 480px;
}
.commit__box{
    width:  500px;
    height: 340px;
    // border: 1px solid olivedrab;
    color: #333D4B;
}
.commit__title{
    width: 357px;
    height: 48px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
}
.commit__text{
    width:  500px;
    height: 260px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
// ----------quality__container
.quality__container{
    width: 100%;
    height: 662px;
    padding: 130px 50px;
    background-color: #FEFCF7;
}
.quality{
    width: 100%;
    height: 474px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C343E;
    position: relative;
    background: linear-gradient(135deg, #2C343E, #93561d);
}
.quality:hover{
   box-shadow: 1px 1px 5px rgb(243, 169, 65); 
   transition: all 0.5s;
}
.quality__box{
    width:  500px;
    height: 270px;
    color: #FEFCF7;
    position: absolute;
    left: 50px;
}
.quality__title{
    width: 517px;
    height: 48px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
}
.quality__text{
    width:  100%;
    height: 130px;
    opacity: 0.8;
}
.quality__img{
    width:  405px;
    height: 454px;
    position: absolute;
    border-radius: 25px;
    right: 50px;
    top: -100px;
}
// -----------------------our__container
.our__container{
    width: 100%;
    height: 566px;
    padding: 80px 77px;
    background-color: #FEFCF7;
}
.our{
    width: 1045px;
    height: 366px;
}
.our__title{
    width: 255px;
    height: 32px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 72px;
}
.our__list{
    display: flex;
    width: 100%;
    height: 262px;
    justify-content: space-between;
transition: all 0.7s;
}
.our__item{
    width: 285px;
    height: 261px;
    // overflow: hidden;

}
.our__item:hover{
    
    border: 5px outset gainsboro;
}
.our__img{
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
}
.our__title{
    width: 272px;
    height: 36px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 18px;
}
.our__text{
    width:  285px;
    height: 107px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}



