.footer__container{
    width: 100%;
    height: 355px;
    background-color: #FEFCF7;
    padding-top: 120px;
    padding-left: 50px;
}
.footer__box{
    width: 1110px;
    height: 120px;
    background-color: #2C343E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__img{
    width: 236px;
    height: 26px;
}
.footer__list{
    width: 283px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .footer__item{}
.footer__link{
    font-family: Barlow;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__link:hover{
    color: #FEFCF7;
    transition: 1s ease-out;
}
.footer__icons{
    width: 120px;
    height: 24px;
    border: 1px solid #FEFCF7;
    // display: inline-block;
    display: flex;
    justify-content: space-between;
}
.footer__icon{
    // width:  24px;
    // height: 24px;
    color: #FEFCF7;
    // display: inline-block;
    font-size: 24px;
}
.footer__icon:hover{
    color: #FDD6BA;
    transition: 0.5s ease-out;
    font-size: 24px;
}


