// .head {
//     width: 100%;
//     // background-color: #FEFCF7;
//     background-image: url(../imeges/Bitmap.png);   
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }
.head__container {
    margin-top: 100px;
    background-color: #FEFCF7;
    background-image: url(../imeges/Bitmap.png);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1100px;
    height: 600px;
    padding: 50px;
    border: 1px solid wheat;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 117px ;
}
.head__box{
    width:  493px;
    height: 367px;
}
.head__title{
    width:  493px;
    height: 145px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.head__text{
    width: 445px;
    height: 78px;
    opacity: 0.8;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 56px;
}
.head__btn{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    border: none;
    background-color: #66D2CF;
}
.head__link{
    font-family: Barlow 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #FEFCF7;
}
.head__btn:hover{
    background-color: #53c7c3;
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

















