// .head {
//     width: 100%;
//     // background-color: #FEFCF7;
//     background-image: url(../imeges/Bitmap.png);   
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }
.head__container {
    margin-top: 100px;
    width: 1200px;
    height: 600px;
    padding: 50px;
    border: 1px solid wheat;
    background-color: #FEFCF7;
}
.head__box{
    width: 1100px;
    height: 100%;
    background-image: url(../imeges/Bitmap.png);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 85px;
    padding-top: 70px;
}
.head__box__two{
    width:  493px;
    height: 367px;
}
.head__title{
    width:  493px;
    height: 145px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.head__text{
    width: 445px;
    height: 78px;
    opacity: 0.8;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 56px;
}
.head__btn{
    width: 217px;
    height: 56px;
    padding-top: 15px;
    border-radius: 6px;
    border: none;
    background-color: #0E8784;
}
.head__link{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-family: Barlow 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #FEFCF7;
}
.head__link:hover{
    color: #000;
    transition: 1000ms ease-in-out;
}
.head__btn:hover{
    background-color: #66D2CF;
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

















