.header{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
}
.header__img{
    width: 236px;
    height: 26px;
}
.header__list{
    display: flex;
    justify-content: space-between;
    width: 383px;
    height: 15px;
    align-items: center;
}
.header__item{
    display: flex;
    align-items: center;
    display: inline-block;
    border-radius: 50px;
    padding: 0 10px;
    transition: 2s all;
}
.header__link{
    width: 100%;
    height: 100%;
    font-family: Barlow;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    text-transform: uppercase;
    display: inline-block;
    color: #83888F;
}
.header__item:hover{
    display: inline-block;
    transform: scale(1.2);
    box-shadow: 10px 10px 70px rgb(169, 168, 168);
}
.header__link:hover{
    color: #333D4B;
}



