
// section__collect
.section__collect{
    width: 100%;
    height: 725px;
    background-color: #FEFCF7;
}
.collect{
    width: 1000px;
    height: 525px;
    margin: 0px  100px;
    transform: translate(0, 100px);
    position: relative;
}
.collect__img{
    width: 100%;
    height: 196;
}
.collect__list{
    position: absolute;
    top: 135px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    transition: 1s all;
}
.collect__item{
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.collect__item:hover{
    border-radius: 20px;
    background-color: #FEFCF7;
    border: 2px solid gainsboro;
    box-shadow:  10px 10px 50px 10px gainsboro;
    // transform: scale(1.1) translate(0, 10px);
    transition: all 1s;
}
.collect__img__two{
    width: 100%;
    height: 163px;
    margin-bottom: 73px;
    border-radius: 30px;
    box-shadow: 10px 10px 50px 10px gainsboro;
}
.collect__title{
    width: 100%;
    height: 32px;
    text-align: center;
    margin-bottom: 24px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.collect__text{
    width: 100%;
    height: 78px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}
// section__choose
.section__choose{
    width: 100%;
    height: 928px;
    background-color: #FEFCF7;
    padding-top: 70px;
    padding-left: 50px;
}
.choose{
    width: 1100px;
    height: 577px;
    background-color: #2C343E;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.choose__box{
    width:  540px;
    height: 160px;
    border: 1px solid white;
    border-radius: 20px;
}
.choose__box:hover{
    box-shadow: 5px 5px 40px 10px white;
    text-shadow: 5px 5px 40px  white;
    transition: 0.7s all;
}
.choose__title{
    font-family: barlow;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.choose__text{
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}
.choose__list{
    width: 1000px;
    height: 382px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 400px;
}       
.choose__item{
    width:  310px;
    height: 382px;
    border-radius: 30px;
    background-color: #0E8784;
    text-align: center;
    padding-top: 72px;
}
.choose__item:hover{
    border: 2px solid white;
    box-shadow:  10px 10px 50px 10px white;
    text-shadow: 5px 5px 40px  #FFFFFF;
    transform: scale(1.1);
    transition: 0.7s all;
}
.choose__item__icon{
    width:  65px;
    height: 65px;
    margin-bottom: 56px;
}
.choose__item__title{
    font-family: Barlow;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.choose__item__text{
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}
// section__work
.section__work{
    width: 100%;
    height: 685px;
    padding-left: 85px;
    background-color: #FEFCF7;
}
.work{
    width: 1045px;
    height: 565px;
}
.work__title__h4{
    width: 255px;
    height: 32px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}
.work__list{
    display: flex;
    justify-content: space-between;
    width: 1045px;
    height: 442px;
    position: relative;
}
.work__hr{
    width: 760px;
    height:  1px;
    // border-width: 2px;
    border: none;
    border: 2px solid #FDD6BA;
    position: absolute;
    top: 15px;
    left: 15.5px;
    z-index: 1;
}
.work__item{
    width: 285px;
    height: 100%;
    position: relative;
}
.work__img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width:  31px;
    height: 31px;
}
.work__box{
    margin-top: 67px;
}
.work__nomber{
    width: 101px;
    height: 72px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
}
.work__title__h3{
    width: 205px;
    height: 72px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 43px;
}
.work__text{
    width:  285px;
    height: 130px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.work__btn{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background-color: #0E8784;
    border: none;
    margin-top: 64px;
}
.work__link{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: 15px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}
.work__link:hover{
    color: #000;
    transition: 1000ms ease-in-out;
}
.work__btn:hover{
    background-color: #66D2CF;
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

